[all:vars]
ansible_connection=local

[threescale]
{{ threescale_inventory.threescale_hosted.admin_portal }}

[threescale:vars]
threescale_cicd_access_token={{ threescale_inventory.threescale_hosted.access_token }}

[sso]
{{ threescale_inventory.sso.host }}

[sso:vars]
realm={{ threescale_inventory.sso.realm }}
client_id={{ threescale_inventory.sso.client_id }}
client_secret={{ threescale_inventory.sso.client_secret }}
scheme=https
