{%- if threescale_cicd_smoke_test_env == "staging" -%}
{{ threescale_cicd_apicast_discovered_sandbox_endpoint }}
{%- endif -%}
{%- if threescale_cicd_smoke_test_env == "production" -%}
{{ threescale_cicd_apicast_discovered_production_endpoint }}
{%- endif -%}
{{ threescale_cicd_openapi_smoketest_path }}
{%- if threescale_cicd_api_security_scheme.type == "apiKey" and threescale_cicd_api_credentials_location == "query" -%}
?{{ threescale_cicd_api_security_scheme.name|urlencode }}={{ threescale_cicd_default_application_details.user_key }}
{%- endif -%}