{% if threescale_cicd_apicast_sandbox_endpoint|default("")|length > 0 or threescale_cicd_apicast_production_endpoint|default("")|length > 0 %}
{% set deployment_type = "self_managed" %}
{% else %}
{% set deployment_type = "hosted" %}
{% endif %}
{% 
  set payload = [ 
    'access_token=' ~ threescale_cicd_access_token|urlencode,
    'name=' ~ threescale_cicd_api_name|urlencode,
    'deployment_option=' ~ deployment_type|urlencode,
    'system_name=' ~ threescale_cicd_api_system_name|urlencode,
    'backend_version=' ~ threescale_cicd_api_backend_version|urlencode
  ]
%}
{{ payload|join("&") }}